*{
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    margin: 0 auto;
}
header{
    -webkit-animation: color 10s ease-in-out infinite;
    -moz-animation: color 10s ease-in-out infinite;
    -o-animation: color 10s ease-in-out infinite;
    animation: color 10s ease-in-out infinite;
    color: white;

}

/*изменение цвета в header*/
@keyframes color {
    0%{background-color: #FFD918;}
    10%{background-color: #FFCF18;}
    20%{background-color: #FFC518;}
    30%{background-color: #FFC218;}
    40%{background-color: #FF9D18;}
    50%{background-color: #FF8018;}
    60%{background-color: #FF9D18;}
    70%{background-color: #FF9D18;}
    80%{background-color: #FFC218;}
    90%{background-color: #FFC518;}
    100%{background-color: #FFCF18;}
}
@-webkit-keyframes color {
    0%{background-color: #FFD918;}
    10%{background-color: #FFCF18;}
    20%{background-color: #FFC518;}
    30%{background-color: #FFC218;}
    40%{background-color: #FF9D18;}
    50%{background-color: #FF8018;}
    60%{background-color: #FF9D18;}
    70%{background-color: #FF9D18;}
    80%{background-color: #FFC218;}
    90%{background-color: #FFC518;}
    100%{background-color: #FFCF18;}
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.cart{
    display: flex;
    flex-direction: row-reverse;
}
.product-desc__wrapper{
    width: 70px;
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid black;

}
.product-quantity{
    width: 50%;
    font-size: 20px;
    padding: 5px 10px;

}
.del-btn{
    background-color: black;
    width: 50%;
    border: 1px solid transparent;
    color: white;
    transition: all ease-in-out .4s;
    cursor: pointer;
    font-size: 20px;
}
/*button cart*/
.btn-cart{
    width: 170px;
    background: transparent;
    text-transform: uppercase;
    border: 2px solid gray;
    border-radius: 25px;
    padding: 16px 0;
    margin: 50px 3em;
    color: black;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 420;
    font-size: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 62);
}
.btn-cart:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 62);
}
.cart-block{
    margin: 10px;
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 50px 20px;
    border-radius: 15px;
    border: 1px solid darkgrey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 62);
    background-color: white;
}
.invisible{
    display: none;
}
.cart-item{
    margin-bottom: 10px;
    display: flex;
    border-bottom: 1px solid lightgray;
}
.cart-img{
    width: 175px;
    height: 140px;
    margin-bottom: 10px;
}
.product-desc{
    margin-left: 10px;
}
.product-title{
    font-size: 23px;
}
.product-price{
    margin-top: 25px;
    font-size: 22px;
}
.products{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.product-item{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding-bottom: 15px;
}
.product-item:hover{
    box-shadow: 0 0 5px rgba(0 0 0 62);
}
.product-item > img{
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}
figcaption{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
figcaption > div{
    width: 45%;
    margin-left: 10px;
}
.buy-btn{
    background: transparent;
    text-transform: uppercase;
    border: 1px solid gray;
    border-radius: 25px;
    width: 45%;
    padding: 1em 0;
    color: black;
    font-size: 75%;
    letter-spacing: 0.1em;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.buy-btn:hover{
    background-color: #FFC218;
    text-transform: uppercase;
    color: white;
    border: none;
    font-weight: 600
}
.buy-btn:active{
}

.buy-btn:active{
    box-shadow: 0 0 5px rgba(0, 0, 0, 62);
}

@media (max-width: 900px) {
    .container{
        width: 600px;
    }
    .products {
        flex-wrap: wrap;
    }
    .product-item{
        width: 320px;
        margin-right: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 725px) {
    .container{
        width: 600px;
    }
    .products {
        flex-wrap: wrap;
    }
    .product-item{
        width: 400px;
        margin-right: 20px;
        margin-top: 10px;
    }
}
@media (max-width: 600px) {
    .container{
        width: 500px;
    }
    .products {
        flex-wrap: wrap;
    }
    .product-item{
        width: 400px;
        margin-top: 10px;
    }
    .buy-btn{
        width: 50%;
    }
}


